/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap'); /* not used */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap'); /* not used */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@600&display=swap');

/* tailwind utilities */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Base Styles */
@layer base {
  html,
  body {
    @apply m-0 bg-themePrimary-1100 p-0 selection:bg-selectionColor;
  }
}

/*  Custom Components */
@layer components {
  .btn-signin {
    @apply btn-block btn my-5 rounded border border-themePrimary-500 bg-transparent font-roboto tracking-wide text-themePrimary-400 hover:bg-themePrimary-500 hover:text-themePrimary-1000;
  }

  .nav-navitem {
    @apply cursor-pointer px-4 font-roboto text-base tracking-wide hover:bg-themePrimary-400 hover:text-themePrimary-1050;
  }
}
