/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@600&display=swap');

/* tailwind utilities */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Base Styles */
@layer base {
  html,
  body {
    @apply m-0 bg-themePrimary-1100 p-0 antialiased selection:bg-selectionColor;
  }
}

/*  Custom Components */
@layer components {
  .background-gradient {
    @apply bg-gradient-to-tr from-themePrimary-1100 via-themePrimary-1050  to-themePrimary-900;
  }

  .btn-signin {
    @apply btn-block btn my-5 rounded border border-themePrimary-300/80 bg-transparent font-roboto tracking-wide text-themePrimary-300 hover:bg-themePrimary-400/90 hover:text-themePrimary-1000;
  }

  .input-nameinput {
    @apply input rounded border border-themePrimary-500 bg-themePrimary-400/5 font-lato text-lg tracking-wide text-themePrimary-100 placeholder-themePrimary-100/30 focus:border-themePrimary-300 focus:shadow focus:shadow-themePrimary-200;
  }

  .textarea-descinput {
    @apply textarea rounded border border-themePrimary-500 bg-themePrimary-400/5 font-lato text-lg tracking-wide text-themePrimary-100 placeholder-themePrimary-100/30 focus:border-themePrimary-300 focus:shadow focus:shadow-themePrimary-200;
  }

  .nav-background-gradient {
    @apply bg-gradient-to-tr from-themePrimary-900/50 to-themePrimary-800/30;
  }

  .nav-navitem {
    @apply cursor-pointer rounded px-4 font-roboto text-base tracking-wide hover:bg-themePrimary-400/90 hover:text-themePrimary-1000;
  }

  .select-folder {
    @apply select rounded border-themePrimary-300 bg-transparent focus:shadow focus:shadow-themePrimary-200;
  }

  .select-option {
    @apply bg-themePrimary-1100 font-lato text-lg checked:bg-themePrimary-300 checked:text-themePrimary-1050;
  }

  .about-question {
    @apply m-5 my-10 text-left;
  }

  .about-question-title {
    @apply mb-1 font-spaceGrotesk text-2xl tracking-wider text-themePrimary-200 sm:text-3xl;
  }

  .about-question-span {
    @apply font-lato text-base tracking-wide text-themePrimary-100;
  }

  .link-text-high {
    @apply text-themePrimary-400 hover:underline;
  }
}
